@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 11%;
    --foreground: 52 17% 91%;
    --card: 0 0% 11%;
    --card-foreground: 52 17% 91%;
    --popover:52 17% 91%;
    --popover-foreground: 52 17% 91%;
    --primary: 96 7% 86%;
    --primary-foreground: 96 7% 86%;
    --secondary: 52 17% 91%;
    --secondary-foreground: 52 17% 91%;
    --muted: 52 17% 91%;
    --muted-foreground: 96 7% 86%;
    --accent: 52 17% 91%;
    --accent-foreground: 52 17% 91%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 17% 91%;
    --input: 52 17% 91%;
    --ring: 180 100% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

main {
  margin: 0 auto;
}
